@model IEnumerable<ServicePortal.Models.ItemsCatSubCat>
@{
    ViewBag.Title = "Ittem Attribute";
    Layout = null;
}


<div class="panel panel-default">
    <div class="panel-heading">
        Add Attribute Values
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <form method="post" id="valagmodalform">
                @*@using (Html.BeginForm("SaveAttributListForValue", "Inventory", FormMethod.Post))
        {*@
                @{
        int c = 0;
            
            <br>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th> Name</th>
                        <th>Attribute Value</th>

                    </tr>
                </thead>
                <tbody>


                    @foreach (var itm in Model)
        {
            <tr>

                <td>@itm.ItemAttributeType.ItemAttribute<input type="hidden" class="form-control" name="[@c].AttTypeID" value="@itm.AttTypeID" required="required"></td>
                <td>
                    <div class="form-group">

                        <input type="text" class="form-control" name="[@c].AttributeValue" placeholder="Enter Value" required="required" value="@TempData["value"+c]">

                    </div>
                </td>

            </tr>

c++;

}

                </tbody>


            </table>

            <input type="submit" class="btn btn-default" id="btnmval" value="Submit" />

                }
            </form>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        
        $("#btnmval").click(function () {

            $.ajax({
                type: 'post',
                url: '/Inventory/SaveAttributListForValue',
                data: $('#valagmodalform').serialize(),

                success: function (response) {
                    alert("Data Save Succesfully");
                    $("#modalvalag").modal("hide");
                }

            });
            return false
        });
    });
    </script>