@model IEnumerable<ServicePortal.Models.ItemsCatSubCat>
@{
    ViewBag.Title = "Ittem Attribute";
    Layout = null;
}


<div class="panel panel-default">
    <div class="panel-heading">
        List Of Attribute Of item
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Attribute Name</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var itm in Model)
                    {
                        <tr>

                            <td>@itm.ItemAttributeType.ItemAttribute.</td>

                        </tr>

                    }
                </tbody>

            </table>
        </div>
    </div>
</div>