
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/StaffMaster.cshtml";
}



<div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    New Complaints. <a href="#" class="alert-link">7</a>.
</div>
<div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    In-Progress.Complaints <a href="#" class="alert-link">18</a>.
</div>
<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    Re-Open.Complaints <a href="#" class="alert-link">40</a>.
</div>
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    Closed Complaints <a href="#" class="alert-link">50</a>.
</div>